<%- include("../partials/head") %> <%- include("../partials/header") %>
<div>
  <a href="http://localhost:3000/new">Create new message?</a>
  <br />
  <br />
  <% messages.forEach((message) => { %>
  <h1><%= message.text %></h1>
  <h2><%= message.user %></h2>
  <p><%= message.added %></p>
  <a href="http://localhost:3000/message/<%= message.id %>">Details</a>
  <br />
  <br />
  <br />
  <% }) %>
</div>
<%- include("../partials/footer") %>
