<%- include("../partials/head") %> <%- include("../partials/header") %>
<div>
  <h2><%= message.text %></h2>
  <h3><%= message.user %></h3>
  <p><%= message.added %></p>
  <br />
  <a href="http://localhost:3000">Back to home</a>
</div>
<%- include("../partials/footer") %>
